<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>zeroNetRedact.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>40BC83542ECD6F1900097DEC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>40BC83632ECD6F1B00097DEC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>40BC836D2ECD6F1B00097DEC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
